@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --foreground: #ededed;
    --tertiary: #3b363600;
    --primary: #1E1E1E;
    --secondary: #D27B25;
  }
}

body {
  background: radial-gradient(ellipse at center, #1a2a6c 10%, #0a0a1a 100%);
  animation: bgShift 8s ease-in-out infinite alternate;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*Animation dosent work fix later.*/
@keyframes bgShift {
  0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}